---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout title="Frontend Mentor">
  <section class="margin-32">
    <div class="container">
      <h1>Sunnyside Agency</h1>
    </div>
  </section>
</DefaultLayout>
