---
const {img, title, color} = Astro.props
---

<div class="{`highlight-tile clr-${color}`}" style="{`background-image: url('../assets/image-${img}.jpg')`}">
  <h2>{title}</h2>
  <p><slot /></p>
</div>

<style lang="scss">
  @use "../styles/base/breakpoint" as *;
  @use "../styles/base/size" as *;

  .highlight-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 6;
    background-size: 180%;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 3.5rem 1rem;

    @include breakpoint(medium) {
      aspect-ratio: 4 / 4;
      background-size: 120%;
      padding: 3.5rem 9rem;
    }

    &.clr-green { color: var(--primary-clr-dark-cyan); }
    &.clr-blue { color: var(--primary-clr-dark-blue); }

    p {
      @include size-16;
      line-height: 1.75rem;
    }
  }
</style>