<nav id="main-navigation" aria-label="Main navigation">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#" class="call-to-action">Contact</a></li>
  </ul>
</nav>

<script>
  // variables
  const mainNav = document.querySelector('#main-navigation')
  const mainMenu = mainNav.querySelector('ul')

  // execution
  mainMenu && mainMenu.addEventListener('keydown', event => {
    const currentMenuItem = event.target.closest('li')
    const menuItems = [...mainMenu.querySelectorAll('li')]
    const index = menuItems.findIndex(item => item === currentMenuItem)

    const key = event.key
    let targetItem

    // move right on arrow right
    if (key === 'ArrowRight') {
      // if it's the last item, go the first, else go to next
      if (menuItems.indexOf(currentMenuItem) === menuItems.length - 1) {
        targetItem = menuItems[0]
      } else {
        targetItem = menuItems[index + 1]
      }
    }

    // move left on arrow left
    if (key === 'ArrowLeft') {
      // if it's the first item, go the last, else go to next
      if (menuItems.indexOf(currentMenuItem) === 0) {
        targetItem = menuItems[menuItems.length - 1]
      } else {
        targetItem = menuItems[index - 1]
      }
    }

    // escape to go back to first item
    if (key === 'Escape') {
      targetItem = menuItems[0]
    }

    // set focus on target item
    if (targetItem) {
      targetItem.querySelector('a, button, input').focus()
    }
  })
</script>

<style lang="scss">
  @use '../styles/base/breakpoint' as *;

  nav {
    background-color: var(--neutral-clr-white);
    visibility: hidden;
    position: absolute;
    padding: 2rem;
    box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.15);
    top: 5rem;
    left: 1rem;
    right: 1rem;
    opacity: 0;

    @include breakpoint(medium) {
      position: relative;
      visibility: visible;
      opacity: 1;
      box-shadow: none;
    }

    &.show {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.2s ease-in-out;

      &::before {
        content: '';
        display: block;
        position: absolute;
        border-top: 30px solid transparent;
        border-right: 30px solid var(--neutral-clr-white);
        top: -25px;
        right: 0;
      }
    }

    @include breakpoint(medium) {
      background-color: transparent;
      display: block;
      flex-basis: auto;
      position: relative;
      opacity: 1;
      inset: 0;
      padding: 0;
      box-shadow: none;
    }

    > ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      li:last-child { margin-top: 0.75rem; }

      @include breakpoint(medium) {
        flex-direction: row;

        li:last-child { margin-top: 0rem; }
      }
    }

    a {
      color: var(--neutral-clr-dark-blue);
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &.call-to-action {
        background-color: var(--primary-clr-yellow);
        border-radius: 3rem;
        text-transform: uppercase;
        font-family: var(--font-family-special);
        font-size: 1rem;
        padding: 0.75rem 1.5rem;

        @include breakpoint(medium) {
          background-color: var(--neutral-clr-white);
          box-shadow: 0 0 0 0 rgba(#19536b, 0.8);
          animation: pulse 5s infinite;

          &:hover,
          &:focus {
            color: var(--neutral-clr-white);
            background-color: var(--neutral-clr-dark-blue);
          }
        }
      }
    }
  }

  @keyframes pulse {
    10% {
      box-shadow: 0 0 0 10px rgba(#19536b, 0);
    }
    11% {
      box-shadow: 0 0 0 0 rgba(#19536b, 0);
    }
  }
</style>