<button class="responsive-toggle" aria-expanded="false" aria-label="Open menu navigation">
  <svg width="24" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M24 16v2H0v-2h24zm0-8v2H0V8h24zm0-8v2H0V0h24z" fill="#FFF" fill-rule="evenodd"/></svg>
</button>

<script>
  // variables
  const responsiveToggle = document.querySelector('.responsive-toggle')

  // functions
  const openMenu = (toggle) => {
    toggle.setAttribute('aria-expanded', true)
    toggle.setAttribute('aria-label', 'Close menu navigation')
    toggle.innerHTML = 'Close'
  }

  const closeMenu = (toggle) => {
    toggle.setAttribute('aria-expanded', false)
    toggle.setAttribute('aria-label', 'Open menu navigation')
    toggle.innerHTML = '<svg width="24" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M24 16v2H0v-2h24zm0-8v2H0V8h24zm0-8v2H0V0h24z" fill="#FFF" fill-rule="evenodd"/></svg>'
  }

  // execution
  responsiveToggle.addEventListener('click', _ => {
    const mainNavigation = document.querySelector('#main-navigation')

    mainNavigation.classList.toggle('show')
    mainNavigation.classList.contains('show')
      ? openMenu(responsiveToggle)
      : closeMenu(responsiveToggle)
  })

  // check if responsive menu is open when resized and then remove
  window.addEventListener('resize', _ =>{
    const mainNavigation = document.querySelector('#main-navigation')

    if (mainNavigation.classList.contains('show') && window.matchMedia("(min-width: 768px)").matches) {
      mainNavigation.classList.remove('show')
      closeMenu(responsiveToggle)
    }
  })
</script>

<style lang="scss">
  @use "../styles/base/breakpoint" as *;
  @use "../styles/base/outline" as *;

  .responsive-toggle {
    border: none;
    padding-right: 0;
    color: var(--neutral-clr-white);

    @include breakpoint(medium) {
      display: none;
    }
  }
</style>
