/*
 | -------------------------------------------------------------
 |	--> color
 | -------------------------------------------------------------
 |
 | 	Color map with HSL values. Used to create Custom Properties
 |  in _root.scss.
 |
*/

$colors: (
  primary: (
    "soft-red": hsl(7, 99%, 70%),
    "yellow": hsl(51, 100%, 49%),
    "dark-cyan": hsl(167, 40%, 24%),
    "dark-blue": hsl(198, 62%, 26%),
    "dark-moderate-cyan": hsl(168, 34%, 41%),
  ),
  neutral-clr: (
    "dark-blue": hsl(212, 27%, 19%),
    "dark-grey": hsl(213, 9%, 39%),
    "darkest-blue": hsl(232, 10%, 55%),
    "gray-blue": hsl(210, 4%, 67%),
    "white": hsl(0, 0%, 100%),
  ),
);
